<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
</head>

<body>
    <div style="padding:40px;"></div>
    <div class="col-md-4 col-md-offset-4">
        <form action='/auth/join' method='post'>
            <div class="form-group">
                <label for="email">Username:</label>
                <input type="email" class="form-control" name="email" required="required">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" required="required">
            </div>
            <div class="form-group">
                <label for="nick">Nickname:</label>
                <input type="text" class="form-control" name="nick" required="required">
            </div>
            <button type="submit" class="btn btn-default">Join</button>
        </form>
    </div>
</body>

</html>