<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
</head>

<body>
    <div style="padding:40px;"></div>
    <div class="col-md-4 col-md-offset-4">
        <form action='/auth/login' method='post'>
            <div class="form-group">
                <label for="email">Username:</label>
                <input type="email" class="form-control" name="email" required="required"> 
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" required="required">
            </div>
            <div class="button">
                <button type="submit" class="btn btn-default">Login</button>
                <button type="button" class="btn btn-default" onclick="toGoogleLogin()">Google Login</button>
                <button type="button" class="btn btn-default" onclick="toJoin()">Join</button>
            </div>
        </form>
    </div>
    <script>
        toJoin = () => {
            location.href = './join';
        };
        toGoogleLogin = () => {
            location.href = '../google';
        };
    </script>
</body>

</html>